@font-face {
    font-family: inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
  }

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: inter;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 60%;
    width: 500px;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.image img{
    margin-top: 20px;
    border-radius: 50%;
}

#jessica{
    font-weight: 700;
    font-size: 1.8em;

    justify-self: center;
}

#london{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 1.5em;
    justify-self: center;
}

#dev{
    font-size: 1.3em;
    justify-self: center;
}

.buttons div{
    text-align: center;
    display: block;
    width: 460px;
    height: 50px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 20%);
    margin-top: 20px;   
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.buttons div:hover{
    background-color: hsl(75, 94%, 57%);
}

.buttons div p{
    padding-top: 12px;
    color: white;
}

.buttons div:hover p{
    color: black;
}
